body {
  font-family: 'Lato';
  overflow: hidden;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.card-header {
	color: #868686;
  	font-size: 1.3rem;
}

.card-body {
    color: #505050;
}

div.main-section {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 30px);
  padding-bottom: 7rem;
}

div.main-section .main-section-content {
  z-index: 1;
  position: relative;
}

div.main-section .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
}

@media (min-width: 992px) {
  div.main-section {
    padding-top: calc(10rem + 15px);
    padding-bottom: 10rem;
  }
}


.title {
	color: black;
}

.sub-title {
	color: gray;
}

.bg-primary, .btn-primary, .bg-blue {
	background-color: #48b1ff;
	border-color: #48b1ff;
}

.bg-second, .btn-second {
  background-color: #f1f1f1;
  border-color: #f1f1f1;

}

.bg-danger, .btn-danger {
  background-color: #f44242;
  border-color: #f44242;

}

.bg-warning, .btn-warning {
  background-color: #ffe649;
  border-color: #ffe649;

}

.full {
  width: 100%;
}

.form-group.row {
  padding-right: 20px;
}

.card-body {
  max-height: 500px;
  overflow-x: auto;
}

.toast {
  top: 100px;
  height: 60px;
  bottom: 100px;
}

.toast-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.toast-danger { 
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;;
}

footer {
	bottom: 0;
	position: fixed;
	width: 100%;
  z-index: 999;
}


/*
 * Style Funky Radio/Checkbox Buttons V2.0
 * Bootstrap 3.3.0 Snippet by momodinium (https://bootsnipp.com/snippets/Zk2Pz)
*/

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}